source https://api.nuget.org/v3/index.json
storage: none
framework: auto-detect
nuget FSharp.Core
nuget Microsoft.SourceLink.GitHub copy_local: true
nuget Expecto
nuget YoloDev.Expecto.TestSdk
nuget Microsoft.NET.Test.Sdk
nuget altcover
nuget TestContainers

group Build
  storage: none
  framework: auto-detect
  source https://api.nuget.org/v3/index.json
  nuget Fake.IO.FileSystem
  nuget Fake.Core.Target
  nuget Fake.Core.ReleaseNotes
  nuget FAKE.Core.Environment
  nuget Fake.DotNet.Cli
  nuget FAKE.Core.Process
  nuget Fake.DotNet.AssemblyInfoFile
  nuget Fake.Tools.Git
  nuget Fake.DotNet.Paket
  nuget Fake.Api.GitHub
  nuget Fake.BuildServer.GitHubActions
  nuget Argu
  nuget Octokit

group Analyzers
  source https://api.nuget.org/v3/index.json
  storage: analyzers
  framework: auto-detect

  nuget FSharp.Analyzers.Build
  nuget G-Research.FSharp.Analyzers
  nuget Ionide.Analyzers
